{% for message in messages %}
{% match message %}
{% when Message::Full with (fullMessage) %}
<div class="bg-white p-4 rounded-2xl shadow-sm transform transition-all duration-200">
    <p class="text-gray-800">{{ fullMessage.content|e }}</p> <span class="text-gray-400">{{ fullMessage.author|e }}</span>
</div>
{% when Message::Standard with (standardMessage) %}
<div class="bg-white p-4 rounded-2xl shadow-sm transform transition-all duration-200">
    <p class="text-gray-800">{{ standardMessage.content|e }}</p>
</div>
{% endmatch %}
{% endfor %}